button {
    position: absolute;
    top: 50px;
    width: 90%;
    left: 5%;
    font-size: 64px;
    height: 200px;
}

#fetch-certificate {
    display: none;
}

#provide-location {
    display: none;
}

#token {
    background-color: #f4f4f6;
    position: absolute;
    width: 90%;
    left: 5%;
    top: 350px;
    overflow: hidden;
}

#providing-location {
    display: none;
    position: absolute;
    top: 50px;
    width: 90%;
    left: 5%;
    font-size: 64px;
    height: 200px;
    text-align: center;
}
